apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: springbootdevops-backend:latest
        imagePullPolicy: Never  # Use local image that i've jsut created
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mariadb://mariadb-service:3308/compagnie
        - name: SPRING_DATASOURCE_USERNAME
          value: root
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mariadb-secret
              key: root-password
        - name: SPRING_JPA_HIBERNATE_DDL_AUTO
          value: update
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend
  ports:
  - port: 8080
    targetPort: 8080
  type: NodePort